@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navigator{
    display: flex;
    align-items: center;
    background-color:black ;
    color: white;
    height: 70px;
    font-size: 26px;
}
.navigator ul{
    list-style: none;
}
.main-conatiner{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.item-box{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    margin-right: 150px;
    position: relative;

}
.line{
    background-color: rgb(253, 153, 153);
    width: 0;
    height: 3px;
    position: absolute;
    transition: width 1s ease-in-out;
    border-radius: 10px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
    font-size: 5vw;
    cursor: pointer;
}
.box:hover{
    background-color: #eeeef7;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    padding: 4px 11px;
    border-radius: 5px;
    border-color: rgb(248, 122, 122);
    background-color: rgb(241, 222, 237);
    color: black;
    cursor: pointer;
}
.box-info h2{
    font-size: 2.5rem;

}
@media screen and (max-width:800px)
{
   .main-conatiner{
        flex-wrap: wrap;
   }
   .box-info{
    margin-top: 30px;
   }
   .box-info h2{
       font-size: 1.5rem;
   }
   .item-box{
    margin-right: 150px;
    margin-left: 65px;
   }
}